/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***********************
************************
****** Main Style ******
************************
************************
*/

body {
	width: 960px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-bottom: 50px;
}

h1{
	font-size: 2.5em;
	text-align: center;
	margin: 5% auto 2.5%;
	font-weight: 300;
}

h2 {
	font-size: 1.2em;
	text-align: center;
	margin: 1% auto 3%;
	font-weight: 300;
}

/* Style for address input box*/
input{
	display: block;
	margin: 2% auto 0%;
	text-align: left;
	width: 50%;
	height: 2em;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	outline: none;
	border: none;
	border-bottom: 2px solid #aaa;
	padding-left: 21px;
}

input[type="text"]:focus {
	border-color: #4d90fe;
}

input::-webkit-input-placeholder {
    color: #000;
    opacity: 0.5;
    font-size: 0.7em;
    font-weight: 300;
    padding-top: 5px;
}

input::-moz-placeholder {
    color: #000;
    opacity: 0.5;
    font-size: 0.7em;
    font-weight: 300;
    padding-top: 5px;
}

#result {
	width: 52%;
	margin: 0 auto;
	text-align: left;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.resultRow {
	padding: 2px 15px;
	border-bottom: 1px solid #ccc;
	display: block;
}

.resultRow:hover {
	background-color: #FBFBDF;
}

.poster {
	background-image: url('../img/noimage.png');
	display: inline-block;
	width: 40px;
	height: 54px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.description {
	display: inline-block;
	padding: 15px;
	vertical-align: middle;
	width: 75%;
	line-height: 1.2em;
}

.description h4 {
	color: #3177EB;
	font-size: 18px;
	padding-bottom: 4px;
	font-weight: 300;
	line-height: 1.2em;
}

.description h5 {
	color: #686868;
	font-size: 13px;
	font-weight: 300;
}


